
h2 {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}


#pokeContent h4 {
    color: #000000;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-style: italic;
    font-size: larger;
    font-family: sans-serif;
    margin: 0;
}

#poke-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pokemon {
    margin: 10px;
    width: 100%;
    background-color: #c1c6c3;
    border-radius: 10px;
    overflow: hidden;
}


#pokeImage img {
    width: 100%;
    max-width: 95%;
    border-radius: 5%;
    margin: 3%;
    background: radial-gradient(circle, rgba(255, 241, 184, 0.993) 5%, rgba(203, 189, 132, 1) 100%);
    overflow: hidden;
}

#pokeContent {
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 0;
    min-height: 100px;
    border-radius: 5%;
    margin: 3%;
    margin-bottom: 20px;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 50%, rgba(226, 226, 226, 1) 100%);
}


#pokeContent ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#pokeContent ul li {
    margin-right: 10px;
}


#pokeNumber:before,
#pokeContent ul:before,
#pokeHeight:before,
#pokeWeight:before {
    font-weight: bold;
    font-family: sans-serif;
}


#pokeNumber:before {
    content: "Code:\00a0";
}

#pokeContent ul:before {
    content: "Type:\00a0";
}

#pokeContent ul li:not(:last-child)::after {
    content: ",\00a0";
}


#pokeHeight:before {
    content: "Height:\00a0";
}
#pokeHeight:after {
    content: "\00a0m";
}

#pokeWeight:before {
    content: "Weight:\00a0";
}
#pokeWeight:after {
    content: "\00a0kg";
}

#pokeHeight{
    display: inline-block;
    clear: right;
}
#pokeWeight {
    float: right;
}


@media only screen and (max-width: 600px) {
    #pokeImage img {
        max-width: 100%;
        height: auto;
    }
}


@media only screen and (min-width: 601px) and (max-width: 800px) {
    #poke-container > #pokemon {
        width: calc(50% - 20px); 
    }
}

@media only screen and (min-width: 801px) {
    #poke-container > #pokemon {
        width: calc(25% - 20px); 
    }
}
